<div class="">
  <div class="">
    <div class=" flex flex-col justify-between items-center h-[90dvh]">
      <div class="max-w-2xl mx-auto mb-8">
        <app-search-form (formSubmit)="handleFormSubmit($event)"></app-search-form>
      </div>
      <div *ngIf="isLoading" class="flex justify-center items-center min-h-[400px]">
        <lib-loading-spinner></lib-loading-spinner>
      </div>
      <div *ngIf="!isLoading && weatherData.length > 0" class="mb-12">
        <div class="max-w-7xl mx-auto w-full">
          <app-current-weather 
            [weather]="weatherData[0]" 
            [formattedDate]="getFormattedDate()">
          </app-current-weather>
        </div>

        <app-no-data-message *ngIf="!isLoading && weatherData.length === 0"></app-no-data-message>
      </div>
      <div class="mt-8 max-w-7xl mx-auto">
        <app-hourly-forecast [hourlyForecast]="weatherData.slice(1)"></app-hourly-forecast>
      </div>
    </div>
  </div>
</div>
