<div class="min-h-screen w-full relative">
  <div class="absolute inset-0 z-0">
    <img *ngIf="backgroundImage" 
         [src]="backgroundImage" 
         class="w-full h-full object-cover filter blur-xs brightness-75" 
         alt="Background">
  </div>

  <div class="relative z-10">
    <main class="min-h-screen text-black p-4 md:p-8">
      <app-search-form (formSubmit)="handleFormSubmit($event)"></app-search-form>

      <div *ngIf="isLoading" class="flex justify-center items-center min-h-[400px]">
        <lib-loading-spinner></lib-loading-spinner>
      </div>

      <div *ngIf="!isLoading && weatherData.length > 0" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 max-w-7xl mx-auto">
        <lib-weather-card *ngFor="let weather of weatherData" [weatherCard]="weather"></lib-weather-card>
      </div>

      <div *ngIf="!isLoading && weatherData.length === 0" class="text-center text-black rounded-lg p-8 max-w-2xl mx-auto select-none">
        <p class="text-xl">Ingresa el nombre de una ciudad para ver el clima</p>
      </div>
    </main>
  </div>
</div>
